#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.nupkg
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

Examples/Droid/Resources/Resource.designer.cs

.droidres/.dltoolkit.forms.controls.droidres.db

TagEntryView/DLToolkit.Forms.Controls.TagEntryView/project.lock.json

FlowListView/DLToolkit.Forms.Controls.FlowListView/project.lock.json

.vs/slnx.sqlite

.vs/ProjectSettings.json
FlowListView/DLToolkit.Forms.Controls.FlowListView/DLToolkit.Forms.Controls.FlowListView.nuget.props
FlowListView/DLToolkit.Forms.Controls.FlowListView/DLToolkit.Forms.Controls.FlowListView.nuget.targets
FlowListView/DLToolkit.Forms.Controls.FlowListView/DLToolkit.Forms.Controls.FlowListView.nuget.targets

*.nuget.targets
*.nuget.props
project.lock.json

FlowListView/DLToolkit.Forms.Controls.FlowListView/AssemblyTFMAttribute.cs
*.props
TagEntryView/DLToolkit.Forms.Controls.TagEntryView/DLToolkit.Forms.Controls.TagEntryView.nuget.props
